<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">

    <title>Login</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link href="#" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet"/>

  <head>
  <body>

    <div class="container">

      <form class="form-signin" action="#" th:action="@{/check}" th:object="${credenciales}" method=POST>
        <h2 class="form-signin-heading"> Login </h2>
        <label for="inputEmail" class="sr-only"> Usuario </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Usuario" th:field="*{nombre}"/>
        <label for="inputPassword" class="sr-only"> Contraseña </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" th:field="*{pass}"/> 
        <div th:if="${error!=null}" class="alert-danger" role="alert"> Credenciales Incorrecta </div>
        <div th:if="${logout!=null}" class="alert alert-info" role="alert"> Logout con éxito! </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
         <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar
      </button>
      </form>

      </div> 

      </body>
</html>